.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background-color: rgba(242, 244, 247, 1);
  z-index: 1000;
}

.containerInner {
  margin: 0 auto;
  width: 100%;
  max-width: 1312px;
  display: flex;
  align-items: center;
  align-self: center;
}
