.container {
  margin-bottom: 60px;
}

.title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  line-height: calc(32 / 24);
  text-align: left;
}

.flexInfo {
  margin-bottom: 16px;
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.titlePrice {
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: 600;
  line-height: calc(32 / 24);
  text-align: left;
}

.flex {
  margin-bottom: 28px;
  display: flex;
  column-gap: 30px;
}

.item {
  border-radius: 10px;
}

.img {
  width: 292px;
  height: 312px;
  border-radius: 10px;
  object-fit: cover;
}

.flexPrice {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.flexRating,
.flexLocation {
  display: flex;
  align-items: center;
}

.iconHeart {
  width: 26px;
  height: 24px;
}

.icon {
  width: 16px;
  height: 16px;
}

.iconStar {
  fill: rgba(255, 197, 49, 1);
}

.text {
  color: rgba(71, 84, 103, 1);
}
