.container {
  width: 360px;
}

.label {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: left;
  color: rgba(108, 113, 123, 1);
}

.inputContainer {
  margin-top: 8px;
  position: relative;
}

.iconInput {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../../images/sprite.svg#icon-Map);
  fill: rgba(108, 113, 123, 1);
}

.input {
  margin-top: 8px;
  display: flex;
  width: 360px;
  column-gap: 8px;
  padding: 16px 48px 16px 46px;
  background-color: rgba(247, 247, 247, 1);
  border-color: transparent;
  border-radius: 12px;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.input:focus + .iconInput {
  fill: rgba(16, 24, 40, 1);
}

.input::placeholder {
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: left;
  color: rgba(108, 113, 123, 1);
}

.textCity {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
  text-align: left;
  color: rgba(108, 113, 123, 1);
}

.iconCity {
  width: 20px;
  height: 20px;
  fill: rgba(108, 113, 123, 1);
}

.textFilter {
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 600;
  line-height: calc(24 / 20);
  color: rgba(71, 84, 103, 1);
}

.list {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.text {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: calc(24 / 20);
  color: rgba(16, 24, 40, 1);
}

.wrapperBorder {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 8px;
  padding: 24px 0 0 0;
  border-top: 1px solid rgba(218, 221, 225, 1);
}

.wrapper {
  width: 112px;
  height: 96px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid rgba(218, 221, 225, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: -0.005em;
  color: rgba(16, 24, 40, 1);
  text-align: center;
  background-color: transparent;
}

.wrapper:active,
.wrapper:hover {
  border-color: rgba(228, 72, 72, 1);
}

.icon {
  margin-bottom: 8px;
  width: 32px;
  height: 32px;
}

.btn:hover {
  background-color: #d84343;
}
