@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2"), url("./fonts/Inter-Regular.woff"),
    url("./fonts/Inter-Regular.otf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.woff2"), url("./fonts/Inter-Medium.woff"),
    url("./fonts/Inter-Medium.otf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.woff2"), url("./fonts/Inter-SemiBold.woff"),
    url("./fonts/Inter-SemiBold.otf");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

/* :root {
} */

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button,
input {
  cursor: pointer;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: rgba(16, 24, 40, 1);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 64px;
  padding-right: 64px;
}

.iconStar {
  width: 16px;
  height: 16px;
  fill: rgba(242, 244, 247, 1);
}

.iconStar.filled {
  fill: rgba(255, 197, 49, 1);
}

/* styles for calander Datepicker */

.custom-datepicker.react-datepicker {
  font-family: Inter, sans-sarif;
  background-color: #fff; /* Фон календаря */
  border-radius: 12px; /* Закруглення календаря */
  border: 1px solid rgba(71, 84, 103, 1);
  font-size: 14px;
  line-height: calc(16.8 / 14);
  color: rgba(16, 24, 40, 1);
}

.custom-datepicker .react-datepicker__header {
  background-color: #fff; /* Фон заголовка календаря */
  border-top-left-radius: 12px; /* Закруглення верхнього лівого кута */
  border-color: rgba(71, 84, 103, 1);
}

.custom-datepicker
  .react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-color: rgba(71, 84, 103, 1);
  border-top-right-radius: 12px;
}

.custom-datepicker .react-datepicker__current-month {
  font-size: 16px;
  font-weight: 600;
  line-height: calc(19.2 / 16);
  text-align: center;
  color: rgba(16, 24, 40, 1);
}
.custom-datepicker .react-datepicker__day {
  padding: 5px;
  width: 36px;
  height: 32px;
  border-radius: 50%; /* Закруглення днів */
  font-size: 14px;
  line-height: calc(16.8 / 14);
  text-align: center;
}

.custom-datepicker .react-datepicker__day--selected {
  background-color: rgba(71, 84, 103, 1); /* Фон для вибраного дня */
  color: white;
}

.custom-datepicker .react-datepicker__day-name {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: calc(14.4 / 12);
  color: rgba(71, 84, 103, 1);
  text-transform: uppercase;
}

.custom-datepicker .react-datepicker__day:hover {
  width: 36px;
  height: 32px;
  border-radius: 50%; /* Закруглення днів */
  padding: 5px;
  background-color: #ddd; /* Фон для дня при наведенні */
}

/* .custom-datepicker
  .react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle {
  fill: ;
} */
