.container {
  padding: 48px 64px 80px 64px;
}

.wrapper {
  position: relative;
  display: flex;
  column-gap: 40px;
  border-bottom: 1px solid rgba(218, 221, 225, 1);
}

.link {
  display: flex;
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: calc(24 / 20);
  text-align: left;
  color: rgba(16, 24, 40, 1);
}

.link.active {
  color: rgba(16, 24, 40, 1);
}

.active::before {
  position: absolute;
  bottom: -4px;
  content: "";
  width: 87px;
  height: 5px;
  background-color: rgba(228, 72, 72, 1);
}

.box {
  display: flex;
  column-gap: 40px;
  justify-content: flex-end;
  padding-top: 44px;
}
